// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");

// Define fonts for body and headers
$body-font: "Poppins", "Helvetica", "sans-serif";
$headers-font: "Bebas Neue", "Helvetica", "sans-serif";

.font-bebas-neue {
  font-family: "Bebas Neue", "Helvetica", "sans-serif";
}
