// Specific CSS for your home-page

.event-photo {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}

.pass-wrapper {
  padding: 60px 10px;
  background: white;
  border-radius: 8px;

  width: 50%;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 14px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  // img {
  //   height: 40px;
  // }
  .first-section-event {
    margin-top: 0px !important;
    .d-flex {
      margin-top: 0px !important;
    }
  }
}

.first-section-event {
  background-image: image-url("event_background_1.png");
  background-size: cover;
  margin-top: -150px;
  padding-top: 326px;
  .d-flex {
    margin-top: 40px !important;
  }
}

.second-section-event {
  .invert-image {
    transform: rotate(180deg);
  }
  .p-fixed-height {
    height: 265px !important;
  }
}

// ----------------------------------------------
@media (max-width: 768px) {
  .first-section-event-show {
    margin-top: 0px !important;
    height: 237px !important;
    padding: 0px !important;
    .event-photo {
      height: 244px !important;
      padding: 30px !important;
    }
    .vbar2 {
      padding: 0px !important;
    }
    .d-flex {
      margin-top: 0px !important;
    }
  }
}
.first-section-event-show {
  // background-image: image-url("event_example_show.png");
  // height: 860px;
  // background-size: cover;
  // margin-top: -150px;
  // padding-top: 326px;
}

.btn-special {
  border: 1px solid gray;
  background-color: black;
  padding: 5px 10px;
}

.second-section-event-show {
  .rectangle {
    background-color: black;
  }
  i {
    color: #00c454;
  }
}
.vbar {
  border-left: 3px solid #00c454;
}
.vbar2 {
  border-left: 3px solid #00c454;
}

.vbar-div {
  justify-content: space-between !important;
  padding: 20px;
  border-radius: 20px;
}
