// Specific CSS for your home-page

.event-photo {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

.pass-wrapper {
  padding: 60px 10px;
  background: white;
  border-radius: 8px;

  width: 50%;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

@media (max-width: 768px) {
  p {
    font-family: "Poppins", cursive !important;
    font-size: 14px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  img {
    height: 40px;
  }
  .first-section-event {
    margin-top: 0px !important;
    height: 237px !important;
    padding: 30px !important;
    img {
      height: 100px;
    }
    h1 {
      font-size: 36px !important;
    }
    .btn-success {
      font-size: 18px !important;
    }
    .d-flex {
      margin-top: 0px !important;
    }
  }
}

.first-section-event {
  background-image: image-url("event_background_1.png");
  height: 860px;
  background-size: cover;
  margin-top: -150px;
  padding-top: 326px;
  h1 {
    font-size: 6rem;
    font-family: "Bebas Neue", cursive !important;
  }
  .d-flex {
    margin-top: 40px !important;
  }
}

.second-section-event {
  .invert-image {
    transform: rotate(180deg);
  }
  .btn-success {
    font-size: 2rem !important;
    border: none !important;
    // height: 60px !important;
    // width: 154px !important;
    margin-right: 47px !important;
    font-family: "Bebas Neue", cursive !important;
  }
}
// ----------------------------------------------
@media (max-width: 768px) {
  p {
    font-family: "Poppins", cursive !important;
    font-size: 14px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  img {
    height: 40px;
  }
  .first-section-event-show {
    margin-top: 0px !important;
    height: 237px !important;
    padding: 30px !important;
    img {
      height: 100px;
    }
    .d-flex {
      margin-top: 0px !important;
    }
  }
}
.first-section-event-show {
  background-image: image-url("event_example_show.png");
  height: 860px;
  background-size: cover;
  margin-top: -150px;
  padding-top: 326px;
}

p {
  font-family: "Poppins", cursive !important;
}
.share-button {
  border: 2px solid #00c454;
  font-family: "Poppins", cursive !important;
  font-weight: bold;
  height: 60px;
  width: 183px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.btn-special {
  font-family: "Bebas Neue", cursive !important;
  font-weight: 400;
  font-size: 36px;
  color: rgba(182, 182, 182, 1);
  border: 1px solid gray;
  background-color: black;
  padding: 5px 10px;
}

.second-section-event-show {
  .rectangle {
    background-color: black;
  }
  i {
    color: #00c454;
  }
}
.vbar {
  border-left: 3px solid #00c454;
}
