@media (max-width: 768px) {
  .first-section-home {
    height: 600px !important;
    padding: 5px !important;
    padding-top: 200px !important;
    background-size: fit !important;
  }

  .fourth-section-home {
  }
  .fifth-section-home {
    padding-top: 20px;
    margin-bottom: 0px !important;
  }
  .carousel-mobile {
    padding: 0.5rem !important;
  }
}
.first-section-home {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), image-url("background_1.jpg");
  background-size: cover;
  padding: 0 320px;
  height: 800px;
  margin-top: -150px;
}

.second-section-home {
  .invert-image {
    transform: rotate(180deg);
  }
}
