<div class="page-wrapper vh-100">
  <div class="flex center around mb-5">
    <img src="https://secureservercdn.net/50.62.194.59/r4s.3a2.myftpupload.com/wp-content/uploads/2021/04/cropped-Sem-titulo-1-192x192.png" alt="">
  </div>

  <%= link_to new_user_session_path do %>
    <p class="btn btn-primary w-100">Log in</p>
  <% end %>

  <div class="flex center around">
      <div class="h-80 w-100 bg-dark p-5 br-8">
      <h1 class="text-white text-uppercase fw-700 text-center">QRCode Proof of Concept</h1>
      <p class="text-white text-center">Está é a homepage da aplicação</p>

      <react data-component="ReactPage" data-message="Está é uma prop passada do Rails para o React">
    </div>
  </div>
</div>
