<%= render 'shared/navbar' %>
<div class="page-wrapper bg-darker vh-100">
  <div class="flex center around column mb-5 bg-dark py-5">
    <img src="https://nuflowshop.com.br/wp-content/uploads/2020/08/logo-branca.png" style="height: 200px;" alt="">
    <h1 class="text-uppercase fw-700 text-center text-color-primary f-bebas">Bikepark</h1>
    <p class="text-white text-center">Está é a homepage da aplicação</p>
  </div>

  <%= link_to new_user_session_path do %>
    <p class="btn btn-primary w-100">Log in</p>
  <% end %>
</div>

