<div class="">
  <div class="first-section-partnership" style="background-image: url(<%= asset_path 'partnership_background_1.png' %>)">
    <%# video_tag "nuflow.mp4", :size => "1920x1080", autoplay: true, muted: :muted, :loop => true, :style=> "z-index: -1" %>
    <div class="container align-self-start">
      <h1>SEJA UM PARCEIRO<br><span class="text-success">NUFLOW</em>.</h1>
      <p class="page-desktop">Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit, sed do eiusmod tempor... </p>
      <div class="d-flex align-items-center">
        <button class="btn btn-success">CADASTRE-SE AGORA</button>
      </div>
    </div>
  </div>

  <div class="second-section-partnership">
    <div class="d-flex justify-content-between mt-5 container mb-3">
      <div class="mobile-arrow">
        <%= image_tag 'arrows.png', class:"mobile-arrow" %>
      </div>
      <div class="align-self-center">
        <h2>AGENDE SUAS <span class="text-success">AULAS</em></h2>
      </div>
    </div>
    <div class="container">
      <div class="">
        <p class="page-desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum pellentesque metus nulla nulla netus suspendisse. Nunc semper sit pellentesque semper sit semper enim arcu, blandit. Arcu aliquam laoreet gravida in facilisi adipiscing et. Adipiscing phasellus sollicitudin scelerisque sed interdum. Ridiculus amet eget ultrices maecenas est. Placerat purus pellentesque eu orci egestas volutpat. Sagittis, arcu dui hac facilisis lorem dui. Commodo, eget sed ipsum justo eget augue mattis nunc ac. Adipiscing et, malesuada sem lorem aenean morbi. Faucibus nulla tellus fermentum mauris sed. Tristique molestie morbi elementum tellus.
        Pretium sed porttitor tincidunt neque et suspendisse. Consequat pellentesque est dictumst dolor suspendisse malesuada convallis dignissim. Leo non consectetur euismod et nam pellentesque iaculis in lacus. Malesuada non et euismod morbi non. Auctor ullamcorper viverra turpis aliquam consectetur cras elementum lectus commodo.</p>
        <p class="page-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rhoncus netus cursus auctor nulla lorem dui nunc sollicitudin sagittis. Arcu diam duis condimentum suspendisse tincidunt viverra adipiscing vel.</p>
      </div>
    </div>
  </div>
  <div class="third-section-partnership">
    <div class="container">
      <h2>CADASTRE <span class="text-success">BIKE PARKS</em></h2>
      <p class="page-desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu urna tincidunt consectetur scelerisque netus bibendum amet aenean proin. Varius turpis interdum erat quis in. Eu vel blandit sed morbi pretium. Adipiscing integer sit semper dui id odio sed est potenti. Habitant tempus, non orci nibh aliquam, pharetra, pellentesque accumsan. Tristique turpis iaculis vitae vitae ultricies. Sollicitudin leo adipiscing at lacinia malesuada. Dolor id nulla enim, fermentum convallis mauris, sit diam feugiat. Adipiscing convallis ut urna sit. Interdum nec, amet nulla donec quis mattis interdum. Ornare dapibus magna ipsum metus integer diam.
      Egestas ultrices accumsan aliquet in sollicitudin. Amet nec facilisis eu interdum odio felis mattis commodo suspendisse. Porttitor vehicula tellus condimentum habitasse. Consequat, id nunc sit rutrum donec donec. Turpis duis interdum aliquet proin neque varius at platea. Cras arcu, condimentum tellus arcu sed adipiscing varius est neque. Phasellus ac duis in mattis diam tincidunt consequat, pretium. Volutpat urna diam nisi, eget orci. Sem quam eget aliquam facilisis interdum. Interdum commodo rutrum amet lectus eget hac ipsum. Cursus urna pulvinar sed auctor aenean in.</p>
      <p class="page-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rhoncus netus cursus auctor nulla lorem dui nunc sollicitudin sagittis. Arcu diam duis condimentum suspendisse tincidunt viverra adipiscing vel.</p>
    </div>
  </div>
  <div class="fourth-section-partnership">
    <div class="d-flex justify-content-between mt-5 container mb-3">
      <div>
        <%= image_tag 'arrows.png', class:"mobile-arrow"  %>
      </div>
      <div class="align-self-center">
        <h2>ORGANIZE <span class="text-success">COMPETIÇÕES</em></h2>
      </div>
    </div>
    <div class="container">
      <p class="page-desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit mattis quam placerat felis vitae nisl, sed. Vitae purus morbi maecenas odio amet amet, aliquet hac bibendum. Id sapien dis pharetra tellus. Scelerisque id laoreet gravida feugiat in sollicitudin elit, a. Nulla dictum quis habitasse id arcu velit duis. A nunc tortor, tellus mauris ut nec semper.
      Aliquam, nibh erat fringilla neque, a vitae placerat. Est amet, nulla mi in quam massa enim mauris. Volutpat a purus facilisi euismod aliquet quam amet tempor viverra. Cursus ante arcu est, lectus. Purus ac vivamus dignissim cursus. Quisque sed vel pellentesque eget turpis pharetra, varius integer tincidunt. Aliquam sed et pellentesque auctor tempor libero. Urna luctus fames scelerisque turpis euismod pretium vel in ullamcorper. Est senectus neque elementum congue luctus elit. Mollis nibh arcu tortor sit lorem.</p>
      <p class="page-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rhoncus netus cursus auctor nulla lorem dui nunc sollicitudin sagittis. Arcu diam duis condimentum suspendisse tincidunt viverra adipiscing vel.</p>
    </div>
  </div>
  <div class="hr">
    <hr>
  </div>
</div>
