<div class="">
  <div class="first-section">
    <div class="container align-self-center">
    <div class="flex-column align-self-center">
      <h1>ENCONTRE OS MELHORES
      <br><em>BIKE PARKS</em>.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit, sed do eiusmod tempor... </p>
      <div class="d-flex align-items-center">
        <button class="btn btn-success">ACESSAR NUFLOW PASS</button>
        <h5><em>Saiba mais</em></h5>
      </div>
    </div>
    </div>
  </div>
</div>
    