<div class="container my3">
  <h3 class="text-center text-success">TERMOS E CONDIÇÕES DE USO GERAIS E POLÍTICA DE PRIVACIDADE</h3>
  <p class="text-center">Os presentes Termos e Condições de Uso visam regular a utilização por você, usuário, de nossos serviços pela plataforma mobile, aplicativo, site, site e outros canais de contato da Nuflow (denominados "Serviços")</p>

  <p><strong class="text-success mt-2">1. Termo de Aceitação</strong></p>
  <p>Ao utilizar os nossos Serviços, o usuário aceita e concorda com todos os termos e condições expostas que se encontram vigentes na data.</p>
  <p>Alertamos que estes Termos e Condições de Uso poderão ser modificados a qualquer momento pela Nuflow, em virtude de alterações na legislação ou nos Serviços, em decorrência da utilização de novas ferramentas tecnológicas ou, ainda, sempre que, a exclusivo critério da Nuflow, tais alterações se façam necessárias. A utilização dos Serviços online disponibilizados pela Nuflow por qualquer usuário implicará em expressa aceitação destes Termos e Condições de Uso. </p>

  <p><strong class="text-success mt-2">2. Atualização das Informações</strong></p>
  <p>A Nuflow se reserva o direito de aprimorar as funcionalidades dos Serviços e de implementar novas tecnologias. Assim, os Termos de Uso poderão ser alterados, a qualquer tempo, exceto em caso de vedação legal, para incluir as modificações implementadas. Ao continuar a utilizar os nossos Serviços após alterados os Termos de Uso, você concorda com as alterações realizadas e vigentes à época do acesso. </p>

  <p><strong class="text-success mt-2">3. Acesso a Conteúdo Restrito e Suspensão de Acesso</strong></p>
  <p>Alguns Serviços estão disponíveis em conteúdo aberto e fechado. Quando o acesso a conteúdo for restrito, será necessário prévio cadastro do usuário e o acesso ao ambiente por meio de login e senha. Considerando que você é responsável pela veracidade das informações cadastradas, informamos que o cadastro de informações falsas pode gerar inconsistência na prestação dos Serviços, bem como impactar ou interromper o seu acesso.</p>
  <p>A qualquer tempo, sem aviso prévio, a Nuflow poderá suspender, cancelar ou interromper o acesso aos Serviços, respeitadas as condições da legislação aplicável. </p>
  <p>A Nuflow não se responsabiliza por eventuais danos e/ou problemas decorrentes da demora, interrupção ou bloqueio nas transmissões de dados decorrentes da conexão de internet do usuário. </p>


  <p><strong class="text-success mt-2">4. Uso Adequado dos Serviços </strong></p>
  <p>Ao utilizar os Serviços, você se compromete a respeitar a legislação brasileira vigente e o disposto nestes Termos e Condições de Uso, não devendo produzir, disponibilizar ou compartilhar qualquer conteúdo que:</p>
  <p>(a) Implique a prática de ato ilícito e viole a legislação brasileira vigente;</p>
  <p>(b) Viole direitos de terceiro ou direitos da Nuflow ou do Conglomerado Santander;</p>
  <p>(c) Seja falso, incorreto, impreciso, extemporâneo e que possa induzir outrem a erro;</p>
  <p>(d) Disponibilize ou permita o acesso a conteúdo ilegal, violento, pornográfico ou qualquer outro ato contrário à lei e à ordem pública;</p>
  <p>(e) Induza a discriminação ou incite o ódio contra pessoas e/ou grupos de pessoas em razão de nacionalidade, raça, religião, orientação sexual, gênero, condição física, nacionalidade, dentre outros atos que contrariem a ordem pública e a legislação brasileira vigente;</p>
  <p>(f) Seja resguardado por direito de propriedade intelectual de terceiro e você não tenha autorização prévia para utilizá-lo;</p>
  <p>(g) Contenha vírus ou outro elemento que seja capaz, em razão de suas características (como forma, extensão, etc), de causar danos ou impedir o funcionamento regular da rede do sistema e/ou de equipamentos informáticos ("hardware" e "software") da Nuflow ou de terceiro.</p>



  <p><strong class="text-success mt-2">5.  Responsabilidades</strong></p>
  <p>Enquanto você usufruir dos Serviços oferecidos, você é responsável:</p>
  <p>(a) Por todo ato, por ação ou omissão, realizado em nossos sites institucionais, plataformas e aplicativos, responsabilizando-se pela prática de todo e qualquer ato ilícito feita por você; </p>
  <p>(b) Pelo conteúdo gerado por você; </p>
  <p>(c) Pela reparação de danos causados a terceiros e à Nuflow, a partir do uso dos Serviços; </p>
  <p>(d) Pelo seu próprio acesso à internet e ao pagamento pelos serviços de acesso à rede;</p>
  <p>(e) Pelo equipamento necessário para realizar a conexão à internet, como computador e modem, garantindo a segurança adequada do ambiente, mediante a utilização de ferramentas como antivírus e firewall; </p>
  <p>(f) Por não utilizar os Serviços para outras finalidades além daquelas indicadas nos sites institucionais, plataformas e aplicativos. </p>

  <p>Sem prejuízo das demais isenções de responsabilidade indicadas no presente documento, você se declara ciente de que a Nuflow não será responsável:</p>

  <p>(a) Por qualquer defraudação de utilidade que você possa atribuir aos Serviços, pela falibilidade destes, nem por qualquer dificuldade de acesso a estes, decorrentes de condutas atribuíveis a terceiros, como, por exemplo, prestadores de serviços de conexão à internet; </p>
  <p>(b)  Pela presença de vírus ou demais elementos nocivos nos Serviços, capazes de causar alterações em seus sistemas informáticos (software e hardware), documentos eletrônicos, eximindo-se a Nuflow de qualquer responsabilidade por eventuais danos e prejuízos decorrentes de quaisquer elementos nocivos inseridos por terceiros;</p>
  <p>(c) Pelos danos e prejuízos de toda natureza decorrentes do conhecimento que terceiros não autorizados possam ter de quaisquer dados fornecidos nos Serviços, em decorrência de falha exclusivamente relacionada ao usuário ou a terceiros que fujam a qualquer controle razoável da Nuflow.</p>




  <p><strong class="text-success mt-2">6. Propriedade Intelectual </strong></p>
  <p>A Nuflow assegura que as informações (textos, imagens, sons e/ou aplicativos) contidas nos seus sites estão de acordo com a legislação e normativos que regulam os direitos de propriedade intelectual (autoral e industrial), bem como pertencem à Nuflow ou a terceiro que licitamente cedeu o seu direito de uso, não sendo permitidas modificações, cópias, reproduções ou quaisquer outras formas de utilização para fins comerciais sem o consentimento prévio e expresso da Nuflow.</p>
  <p>Você declara que irá respeitar todos os direitos de propriedade intelectual contidos nos nossos Serviços, ciente de que o direito de acesso ao Serviço não concede qualquer autorização para uso de direitos de propriedade intelectual constantes de tal Serviço. </p>



  <p><strong class="text-success mt-2">7. Lei aplicável e resolução de conflitos</strong></p>ccc
  <p>Toda e qualquer controvérsia oriunda dos termos expostos nestes Termos e Condições de Uso serão solucionados de acordo com a lei brasileira, sendo competente o foro da cidade de Belo Horizonte, Estado de Minas Gerais, com exclusão de qualquer outro por mais privilegiado que seja.</p>
  <p>Fica claro, ainda, que a utilização de Serviços e as ordens comandadas fora do território brasileiro, ou ainda as decorrentes de operações iniciadas no exterior podem estar sujeitas também à legislação e jurisdição das autoridades dos países onde forem comandadas ou iniciadas</p>


  <h3 class="text-left text-success">POLÍTICA DE PRIVACIDADE NUFLOW</h3>

  <p>Alinhados com as melhores práticas e calcados em sua filosofia de transparência e respeito aos clientes Nuflow, apresentamos os princípios básicos da Política de Privacidade On-Line (chamada “Política de Privacidade”). Tratam-se das diretrizes adotadas pela Nuflow em relação à coleta, armazenamento, utilização e todas as demais formas de tratamento das informações pessoais dos clientes/usuários e internautas, para acesso e uso dos nossos serviços pela plataforma mobile, aplicativo, site, e outros canais de contato da Nuflow (denominados "Serviços"). </p>


  <p><strong class="text-success mt-2">1. Definições</strong></p>


  <ul>
    <li>
      <strong>Agentes de tratamento:</strong> o controlador e o operador.
    </li>
    <li>
      <strong>Controlador:</strong> pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais.
    </li>
    <li>
      <strong>Dado Pessoal:</strong> toda e qualquer informação relacionada a pessoa natural identificada ou identificável.
    </li>
    <li>
      <strong>Dado Pessoal Sensível:</strong> dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural.
    </li>
    <li>
      <strong>Operador:</strong> pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados pessoais em nome do controlador.
    </li>
    <li>
      <strong>Titular:</strong> pessoa natural a quem se referem os dados pessoais que são objeto de tratamento.
    </li>
    <li>
      <strong>Tratamento:</strong> toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.
    </li>
    <li>
      <strong>Criptografia:</strong> nome dado ao processo de codificação de informações. As informações são codificadas (embaralhadas) na origem e decodificadas no destino, dificultando, dessa forma, que sejam decifradas durante o tráfego na internet.
    </li>
    <li>
      <strong>Cookies:</strong> arquivos-texto armazenados pelo navegador (exemplo, Internet Explorer, Fire Fox, Chrome ou Safari) em seu computador ou telefone celular. Os cookies têm como finalidade identificar o computador ou telefone celular, personalizar os acessos e obter dados de acesso, como páginas navegadas ou links clicados. Um cookie é atribuído individualmente a cada computador, não podendo ser usado para executar programas, tampouco infectar computadores com vírus, trojans, etc., e podem ser lidos apenas pelo servidor que o enviou.
    </li>
  </ul>

  <p>Sem prejuízo de outras definições constantes nesta Política, os seguintes termos terão os significados a eles designados abaixo:</p>

  <ul>
    <li>
      <strong>"internauta":</strong> todo aquele que, de alguma forma, acessa o Portal Nuflow e outros canais, sendo cliente ou não.
    </li>
    <li>
      <strong>"cliente":</strong> todo aquele que utiliza os produtos e/ou serviços oferecidos pelo Portal Nuflow, pagos ou não.
    </li>
    <li>
      <strong> "usuário":</strong>  todo aquele que se cadastrar neste Portal e receber uma identificação individual e exclusiva.
    </li>
  </ul>
</div>
