<div class="container mt-3">
  <h3 class="text-center text-success">TERMOS E CONDIÇÕES DE USO GERAIS NUFLOW</h3>
  <hr class="m-auto terms-line">
  <p class="text-center text-success fs-24 mt-2">NuFlow Pass</p>
  <p>Estes Termos e Condições Gerais de Uso aos Serviços de Intermediação (“Termos de Uso”) destinam-se a estabelecer a relação contratual entre <strong>NUFLOW SHOP LTDA.</strong> (“NuFlow” ou “Prestadora de Serviços”), pessoa jurídica de direito privado, inscrita no CNPJ sob o nº 38.559.372/0001-25, com sede na Av. José do Patrocínio Pontes, 1354, Bairro Mangabeiras, Belo Horizonte/MG, CEP 30210-090, com os usuários de nossos serviços pela plataforma web site, mobile e outros canais de contato da NuFlow (“Usuários”).</p>

  <p class="text-left text-success fs-24 mt-2 mb-0">Parte 1 - Informações Gerais</p>
  <hr class="m-auto terms-line">
  <p><strong class="text-success mt-2">1. A NUFLOW</strong></p>
  <p class="ms-1">1.1. A NuFlow fornece diversos serviços dentro de sua plataforma, sendo os principais os serviços de: anúncio e intermediação de compra e venda de materiais esportivos relacionados a ciclismo e os de anúncio e intermediação de compra e venda de ingressos e passes recorrentes para utilização de espaços compartilhados voltados para a prática esportiva, eventos competitivos, eventos de confraternização, feiras e exposições, tudo em Plataforma própria.</p>
  <p class="ms-1">1.2. Os Usuários, dentro da Plataforma, encontram os seguintes domínios: Nuflow Shop <a href="https://www.nuflowshop.com.br" target="_blank">(www.nuflowshop.com.br)</a>  e Nuflow Pass <a href="https://www.nuflowpass.com.br" target="_blank">(www.nuflowpass.com.br)</a> (“Plataformas”).</p>


  <p><strong class="text-success">2. DEFINIÇÕES E INTERPRETAÇÃO</strong></p>
  <p class="ms-1">2.1. Para os efeitos destes Termos de Uso, os vocábulos a seguir arrolados, entre aspas e sublinhados, deverão remeter ao significado que lhes é atribuído abaixo: <br>
  <p class="ms-3">(a) “Interessados”: pessoa natural que utiliza as Plataformas da NuFlow, mas ainda não realizou o cadastro</p><br>
  <p class="ms-3">(b) “Recurring Pass”: corresponde aos ingressos que viabilizam o acesso recorrente ao(s) Bike Park(s) ou estabelecimentos similares disponíveis em sua Plataforma, em formato de assinatura.</p><br>
  <p class="ms-3">(c) “Tickets”: corresponde aos ingressos comercializados na plataforma NuFlow Pass, desde que não sejam Recurring Pass.</p><br>
  <p class="ms-3">(d) “Ingressos”: designa, quando referidos em conjunto, Tickets, englobando: (i) ingressos para acessar e participar de eventos e/ou competições; (ii) Recurring Pass para utilização dos Bike Parks; e (iii) demais produtos disponíveis.</p><br>
  <p class="ms-3">(e) “Cliente” ou “Consumidor”: termo utilizado para designar pessoas que adquirem ingressos, pagos ou gratuitos, para os eventos criados pelos próprios organizadores.</p><br>
  <p class="ms-3">(f) “Organizador ”: termo utilizado para designar pessoas (físicas ou jurídicas) que criam eventos próprios através do NuFlow Pass e os divulgam para consumidores.</p><br>
  <p class="ms-3">(g) “Participantes”: termo utilizado para designar pessoas que usufruem dos ingressos adquiridos pelos Consumidores. Caso os Consumidores adquiram ingressos em nome próprio, serão também participantes. Por outro lado, caso o Consumidor adquira ingressos em proveito de terceiros, estes serão considerados tão somente Participantes, e não Consumidores.</p><br>
  <p class="ms-3">(h) “Usuários”: designa, quando referidos em conjunto, Clientes/ Consumidores, Organizadores, Participantes e demais pessoas que navegam na Plataforma NuFlow Pass.</p><br>
  <p class="ms-3">(i) “Marca”: designa todo o material corporativo e publicitário já existente e enviado, a ser compartilhado e/ou produzido pelas Partes no decorrer da vigência deste Contrato.</p><br>
  <p class="ms-3">(j) “NuFlow Pass” ou “Plataforma NuFlow Pass” ou “Plataforma”: designa a plataforma tecnológica da NuFlow disponível no endereço eletrônico www.nuflowpass.com.br, para organizadores, casas de eventos, parques de prática esportiva etc., além dos Clientes que desejam adquirir os serviços ofertados, facilitando o processo de comercialização de ingressos, inscrição para eventos, cobrança de contribuições para eventos e a gestão de participantes, acessível.</p><br>
  <p class="ms-3">(k) “Bike Park”: termo utilizado para referir aos parques disponíveis para prática de ciclismo e demais esportes relacionados a bicicletas. </p><br>
  <p class="ms-3">(l) “Anúncio”: significa toda e qualquer oferta de produto e/ou serviço veiculada nas Plataformas da NuFlow, seja por ela mesmo, por seus parceiros ou pelos Organizador es.</p><br>
  <p class="ms-3">(m) “Meio de Pagamento”: significa as formas de pagamento atualmente aceitas pela NuFlow, hoje sendo gateway de pagamento, link externo, transferência bancária e PIX.</p><br>
  <p class="ms-1">2.2. As seguintes regras deverão ser observadas na interpretação destes Termos de Uso: (a) os cabeçalhos e títulos dos capítulos e das cláusulas contidos nestes Termos de Uso constituem meras referências e são irrelevantes para efeito de interpretação ou análise dos presentes Termos de Uso, não afetando, sob qualquer pretexto, o significado, a análise ou a interpretação de tudo o quanto aqui disposto; (b) os termos “incluindo”, “inclusive”, “inclui”, “incluído” e suas derivações e termos análogos serão interpretados como se estivessem acompanhados pela frase “entre outros” ou “não limitados a”, introduzindo assim uma enumeração não exaustiva, mas meramente exemplificativa; (c) as referências a quaisquer documentos ou instrumentos incluem todos os respectivos aditamentos, alterações, substituições, consolidações e adições, salvo expressa disposição em contrário; (e) as referências a disposições legais serão interpretadas como referências a tais disposições e suas respectivas emendas, ampliações, consolidações, reedições, alterações e/ou normas que possam vir a substituí-las e/ou revogá-las, de tempos em tempos, bem como as disposições das quais elas se originam e/ou se relacionam incluindo regulamentos, instrumentos ou outras normas legais a elas subordinados; (f) todas as referências a Pessoas, às Partes ou à Sociedade incluem seus sucessores, beneficiários e cessionários autorizados; (g) os significados atribuídos aos termos definidos nestes Termos de Uso serão aplicáveis a referidos termos quando usados no singular e no plural e independentemente de gênero.</p>

  <p><strong class="text-success">3. Noções Introdutórias</strong></p>
  <p class="ms-1">3.1 Os presentes Termos regulam os serviços oferecidos na Plataforma NuFlow Pass.</p>
  <p class="ms-1">3.2. Os eventos criados e divulgados através da Plataforma NuFlow Pass são de responsabilidade exclusiva dos Organizadores, devendo este estabelecer suas próprias condições comerciais, em observância ao descrito neste Termo.</p>
  <p class="ms-3">3.2.1.A NuFlow não é criadora, organizadora e/ou proprietária dos eventos divulgados em sua plataforma.</p>



  <p><strong class="text-success">4. A Plataforma NuFlow Pass</strong></p>
  <p><strong class="text-decoration-underline">(A) Cadastro</strong></p>

  <p class="ms-1">4.1. O cadastro na Plataforma NuFlow Pass não é cobrado, no entanto, os serviços e os ingressos ofertados na plataforma serão cobrados de acordo com os Termos ofertados.</p>
  <p class="ms-3">4.1.1. Os Usuários se comprometem a observar os propósitos estabelecidos neste Termo e nas leis brasileiras, especialmente as relacionadas à Anticorrupção e Prevenção à Lavagem de Dinheiro.</p>

  <p class="ms-1">4.2. Os Usuários atestam e garantem que todas as informações fornecidas são exatas e verdadeiras. É obrigação dos Usuários manter os dados fornecidos atualizados e válidos a todo momento.</p>
  <p class="ms-3">4.2.1. Identificados dados inválidos, falsos ou incorretos, a NuFlow poderá suspender a conta do Usuário e o notificar para corrigir as informações, bem como recusar a prover quaisquer de nossos serviços.</p>
  <p class="ms-3">4.2.2. Não corrigida em 05 (cinco) dias após a notificação, a NuFlow poderá encerrar a conta do usuário.</p>
  <p class="ms-3">4.2.3. A NuFlow não se responsabiliza pela veracidade ou assertividade dos dados inseridos no cadastro, a criação de perfis falsos na Plataforma NuFlow Pass poderá ser punida nos termos da lei.</p>


  <p class="ms-1">4.3. Caso a NuFlow verifique a existência de atividade suspeita, ou transação que apresente considerável risco de fraude, poderá, a qualquer tempo e a seu exclusivo critério, confirmar a identidade e os dados pessoais do usuário, podendo, assim, solicitar documentos pessoais ou outras formas de comprovação, por telefone, e-mail ou outro meio hábil.</p>
  <p class="ms-3">4.3.1. Qualquer erro ou atraso no processo de envio ou confirmação da identidade do usuário que gere prejuízo ou dano de qualquer natureza será de responsabilidade do usuário.</p>
  <p class="ms-3">4.3.2. Nos casos em que ocorrerem os eventos descritos no item </p>
  <p class="ms-3">4.3.3. A NuFlow poderá reter os recebimentos dos clientes e/ou os repasses devidos ao Organizador, até que a equipe da NuFlow consiga investigar e/ou averiguar a veracidade, autenticidade ou, ainda, a existência de fraudes ou improcedências relacionadas ao evento. </p>



  <p class="ms-1">4.4. Sem prejuízo de outras medidas, é direito da NuFlow advertir, moderar, suspender ou cancelar o cadastro dos Usuários, ou ainda, negar a prestação de serviços nos casos de:</p>
  <p class="ms-3">(a) Descumprimento das disposições destes Termos ou qualquer outra política da NuFlow;</p>
  <p class="ms-3">(b) Prática de atos fraudulentos ou dolosos;</p>
  <p class="ms-3">(c) Causarem qualquer tipo de dano ou prejuízo a terceiro ou à própria NuFlow, na utilização da Plataforma NuFlow Pass.</p>


  <p><strong class="text-decoration-underline">(B) Acesso</strong></p>

  <p class="ms-1">4.5. Os Usuários acessarão sua conta através de login e senha pessoais e intransferíveis, ou através de plataformas de terceiros.</p>
  <p class="ms-1">4.6. De qualquer maneira, os usuários se comprometem a não informar à terceiros tais dados, responsabilizando-se integralmente pelo uso que deles seja feito, se comprometendo a notificar a NuFlow, imediatamente, acerca de quaisquer violações de segurança.</p>
  <p class="ms-3">4.6.1. A NuFlow não será responsável por quaisquer perdas e danos resultantes de acessos não autorizados ou uso da conta.</p>


  <p class="ms-1">4.7. Apenas o titular da conta na NuFlow poderá ter acesso aos dados relativos à mesma, tendo em vista seu caráter pessoal. Eventuais alterações em dados cadastrados somente poderão ser feitas pelo próprio usuário, devidamente logado. Em regra, a NuFlow não realiza esse tipo de alteração, independentemente da razão alegada ou circunstância.</p>

  <p><strong class="text-decoration-underline">(C) Funcionamento da Plataforma</strong></p>

  <p class="ms-1">4.8. O U.Vendedor é responsável pela emissão da nota fiscal dos produtos e/ou serviços vendidos. Na ausência de nota fiscal, ele é responsável pelas informações preenchidas na declaração de conteúdo para envio através dos Correios ou transportadora.</p>
  <p class="ms-3">(a) reservar as funcionalidades da plataforma;</p>
  <p class="ms-3">(b) Exibir as funcionalidades de maneira clara, completa, precisa e suficiente.</p>


  <p class="ms-1">4.9. A equipe NuFlow trabalha para manter a plataforma funcionando regularmente, no entanto, não garante que funcionará constantemente, desta forma, não se responsabiliza por eventuais indisponibilidades temporárias, eventos de força maior e/ou caso fortuito, ou mesmo por falhas em sistemas, impedimento de acesso à internet ou fatos de terceiros imprevisíveis.</p>
  <p class="ms-1">4.9.1. Em caso de indisponibilidade, a NuFlow providenciará o retorno ao funcionamento o mais rápido possível, respeitadas as suas limitações técnicas.</p>
  <p class="ms-1">4.9.2. Os Usuários, isentam a NuFlow de qualquer dano nos casos de paralisações, parciais ou totais, dos seus serviços, seja por qual motivo tiver ocorrido. A NuFlow também não será responsável por qualquer dano causado por motivo de caso fortuito ou força maior, bem como fato de terceiro.</p>
  <p class="ms-1">4.9.3. Em casos de Manutenções Preventivas, a NuFlow tentará, sempre que possível, dar aviso prévio aos Usuários através dos canais de comunicação.</p>

  <p><strong class="text-decoration-underline">(D) Divulgação dos Eventos.</strong></p>

  <p class="ms-1">4.10. O Organizador  também é responsável pela divulgação das informações do evento, seja por qual meio escolher, garantindo que os detalhes do evento sejam divulgados satisfatoriamente.</p>
  <p class="ms-1">4.11. A NuFlow fornece ferramentas para o envio de e-mails aos Clientes exclusivamente para o fim de disseminar informações sobre o evento e instruções aos Clientes.</p>
  <p class="ms-3">4.11.1 Se a NuFlow identificar o uso indevido e/ou abusivo da funcionalidade de envio de e-mails, poderá bloquear o acesso do Organizador à ferramenta e descadastrá-lo da plataforma.</p>
  <p class="ms-3">4.11.2 O Organizador é responsável por tirar dúvidas ou instruir os Clientes, por exemplo, através da ferramenta mencionada acima. O Organizador  deverá responder tais questionamentos, em tempo hábil e de maneira clara.</p>


  <p><strong class="text-decoration-underline">(E) Segurança e Privacidade.</strong></p>

  <p class="ms-1">4.12. Não é permitido o acesso às áreas de programação da plataforma NuFlow, seu banco de dados, ou qualquer outro conjunto de dados contidos em sua plataforma. Os Usuários não podem e nem poderão realizar ou permitir engenharia reversa, traduzir, decompilar, copiar, modificar, reproduzir, alugar, sublicenciar, publicar, divulgar, transmitir, emprestar, distribuir ou, de outra maneira, dispor das ferramentas e funcionalidades da Plataforma NuFlow Pass.</p>
  <p class="ms-1">4.13. Os Usuários não poderão utilizar aplicativos e/ou ferramentas de mineração de dados sejam eles específicos ou generalizados.</p>
  <p class="ms-1">4.14. A NuFlow possui documento próprio, denominado “Política de Privacidade”, que regula o tratamento dado às informações e dados pessoais coletados através da plataforma e suas funcionalidades.</p>
  <p class="ms-3">4.14.1 A “Política de Privacidade” é parte integrante e inseparável dos Termos de Uso da plataforma NuFlow e pode ser acessada em link específico.</p>
  <p class="ms-3">4.14.2 Caso alguma disposição da “Política de Privacidade” conflite com qualquer outra do presente documento, deverá prevalecer o descrito na norma mais específica.</p>
  <p class="ms-1">4.15. A NuFlow somente disponibilizará registros de acesso, informações pessoais ou comunicações privadas armazenadas em sua plataforma mediante ordem judicial ou requisição de autoridade policial ou administrativa competente.</p>
  <p class="ms-1">4.16. Em todos os casos, a NuFlow comunicará o Usuário da existência do pedido de revelação, ficando desde já autorizada a responder a requisição recebida.</p>


  <p class="text-left text-success fs-24 mt-2 mb-0">Parte 2 -  Disposições Aplicáveis a Todos os Usuários</p>
  <hr class="m-auto terms-line">
  <p><strong class="text-success mt-2">5. INGRESSOS</strong></p>
  <p class="ms-1">5.1. O Cliente que adquirir um Ingresso deverá observar, além deste Termo as regras de utilização do local.</p>
  <p class="ms-1">5.2. O Cliente deve sempre observar as limitações do local a que se refere o ingresso, especialmente as relacionadas a idade, horário de funcionamento, localização e lotação máxima. </a> (“Plataformas”)..</p>
  <p class="ms-3">5.2.1. Caso o Cliente prossiga com a compra do Ingresso sem analisar se existem ou não limitações do próprio estabelecimento, a NuFlow não será responsável pelo reembolso.</p>

  <p><strong class="text-decoration-underline">(A) Ticket.</strong></p>

  <p class="ms-1">5.3. Os ingressos adquiridos por Clientes são intransferíveis, sendo assim, de uso exclusivo do próprio cliente.</p>
  <p class="ms-3">5.3.1. Caso alguma fraude seja identificada, o Cliente que a tiver cometido poderá ter sua atividade suspensa e sua entrada bloqueada no local.</p>
  <p class="ms-3">5.3.2. As alterações de dados nos ingressos é de única e exclusiva responsabilidade do Organizador, a troca é de único critério dele e, desta forma, todas as solicitações devem ser designadas a este.</p>


  <p><strong class="text-decoration-underline">(B) Recurring Pass.</strong></p>

  <p class="ms-1">5.4. Adicionalmente, serão ofertados na Plataforma NuFlow Pass assinaturas recorrentes para acesso e usufruto a Quadras esportivas, espaços de convivência e assinatura de clubes de benefícios e demais estruturas similares, doravante designados como Recurring Pass</p>
  <p class="ms-1">5.5. O Cliente somente poderá usufruir do Recurring Pass após a confirmação do pagamento, observadas as disposições do item 6., abaixo.</p>
  <p class="ms-1">5.6. Ao utilizar o Recurring Pass, o Cliente deverá ter em sua pessoa o ingresso enviado pela NuFlow que confirma a compra efetuada e um documento de identidade com foto.</p>
  <p class="ms-1">5.7. Como o Recurring Pass é de uso recorrente e os estabelecimentos não são limitados a somente ofertar este formato de acesso, a utilização, no dia e horário em que o Cliente desejar, poderá não ser possível, por questões alheias ao controle da NuFlow, a exemplo de disponibilidade e a lotação máxima do local. </p>

  <p class="ms-3">5.7.1. Desta forma, a NuFlow não garante e nem poderá ser responsabilizada por limitações de acesso no estabelecimento em questão.</p>
  <p class="ms-1">5.8. Por ter um formato de assinatura, o Recurring Pass terá sua renovação automática. O Cliente poderá efetuar o cancelamento através da Plataforma NuFlow Pass, devendo sempre observar o disposto nas cláusulas deste Termo.</p>

  <p><strong class="text-success mt-2">6. POLÍTICA DE PAGAMENTO</strong></p>
  <p class="ms-1">6.1. A compra de Ingressos estará sujeita à disponibilidade e à aprovação da operadora de cartão de crédito, quando essa for a forma de pagamento escolhida. </p>
  <p class="ms-3">6.1.1. Confira atentamente os dados de seu pedido antes da confirmação de sua compra, ele é único, ou seja, após sua compra ele não estará mais disponível para venda. Confira atentamente os dados de seu pedido antes da confirmação de sua compra, ele é único, ou seja, após sua compra ele não estará mais disponível para venda. </p>
  <p class="ms-3">6.1.2. Ao adquirir Ingressos na Plataforma NuFlow Pass sua compra poderá ficar sujeita a análise e aprovação do nosso time de Análise de Risco. Se necessário, nosso time poderá entrar em contato e solicitar documentos ao Cliente, que deverá encaminhá-los ao e-mail indicado e dentro do prazo estipulado, sob pena de cancelamento da compra. Ao adquirir Ingressos na Plataforma NuFlow Pass sua compra poderá ficar sujeita a análise e aprovação do nosso time de Análise de Risco. Se necessário, nosso time poderá entrar em contato e solicitar documentos ao Cliente, que deverá encaminhá-los ao e-mail indicado e dentro do prazo estipulado, sob pena de cancelamento da compra. </p>

  <p class="ms-1">6.2. A fim de facilitar a análise do time de Análise de Risco e garantir a autenticidade de sua compra, preencha todos os campos solicitados com dados verdadeiros e atuais, em especial nome completo, número de CPF, e-mail, telefone para contato e endereço. </p>
  <p class="ms-1">6.3. Para a segurança de sua compra, reforçamos que a aquisição de Ticket e Recurring Pass somente poderá ser feita pelos canais oficiais de venda, disponíveis na Plataforma NuFlow Pass.</p>
  <p class="ms-3">6.3.1. A NuFlow não se responsabiliza por ingressos adquiridos em canais de venda não oficiais, seja através de pessoa física, pessoa jurídica, outros websites, comunidades na internet ou por qualquer outro meio não oficial.</p>
  <p class="ms-1">6.4. A compra de ingressos meia-entrada e/ou outros descontos estará sujeita a regras do Organizador  de cada evento.</p>
  <p class="ms-1">6.5. As legislações vigentes para compra de meia-entrada devem ser obrigatoriamente verificadas pelos Usuários, especialmente pelo Organizador .</p>
  <p class="ms-1">6.6. Os Tickets e/ou Recurring Pass adquiridos através da Plataforma NuFlow Pass poderão estar sujeitos ao acréscimo correspondente à Taxa de Serviços da NuFlow.</p>
  <p class="ms-1">6.7. Os impostos referentes ao montante total vendido pelo Organizador  do evento através da Plataforma NuFlow Pass devidos à administração pública são de responsabilidade exclusiva do Organizador .</p>


  <p><strong class="text-decoration-underline">(B) Repasse.</strong></p>

  <p class="ms-1">6.8. Será cobrada uma taxa de serviço para o uso da Plataforma NuFlow Pass, calculada a partir das vendas online processadas através dela.</p>
  <p class="ms-1">6.9. A taxa cobrada pela NuFlow Pass, a não ser que negociada de outra forma com a NuFlow, é de 10% (dez por cento) sobre o valor do ingresso pago, com um valor mínimo de taxa de R$ 2,50 (dois reais e cinquenta centavos) por ingresso. Não será cobrada taxa de serviço na distribuição de ingressos gratuitos.</p>
  <p class="ms-1">6.10. A NuFlow realizará o repasse dos valores devidos ao Organizador  do evento, em até 03 (três) dias úteis, contados da data de realização do evento, descontadas as taxas de serviço devidas a NuFlow, se aplicáveis.</p>
  <p class="ms-3">6.10.1. Caso a data indicada para o evento na Plataforma NuFlow Pass não corresponda à data real do evento, o repasse poderá ser postergado até o 3º dia útil após a data em que o evento, de fato, for finalizado.</p>
  <p class="ms-1">6.11. Em caso de Repasses recorrentes, estes serão regulados e negociados sempre em Contratos celebrados entre a NuFlow e o Organizador. </p>
  <p class="ms-1">6.12. O Organizador deverá cadastrar ou informar à NuFlow os dados bancários para repasse dos valores arrecadados até a data de realização do evento. O Organizador será responsável por qualquer equívoco ou atraso nos dados bancários informados para repasse dos valores arrecadados.</p>
  <p class="ms-3">6.12.1. O Organizador ao preencher as informações na Plataforma NuFlow Pass declara e atesta sobre a veracidade destas.</p>
  <p class="ms-3">6.12.2. A NuFlow não poderá ser responsabilizada por erros no repasse caso o Organizador preencha dados incorretos na Plataforma.</p>
  <p class="ms-1">6.13. Caso o Organizador não tome as medidas necessárias para reembolsar os Clientes, a NuFlow poderá proceder com estas operações por si mesma, sem necessidade de autorização ou, comunicação prévia. </p>
  <p class="ms-1">6.14. Caso a NuFlow necessite fazer quaisquer reembolsos de compras, após o recebimento de valores por parte do Organizador, tais reembolsos serão posteriormente cobrados do mesmo, podendo, inclusive, a exclusivo critério da NuFlow, sem qualquer comunicação prévia, ocasionar retenção de valores de vendas de outros eventos criados pelo mesmo Organizador, a qualquer tempo, até ser atingido o valor total da dívida, que será atualizada pelo índice IGP-M e aplicado 1% (um por cento) de juros ao mês, contados do desembolso pela NuFlow.</p>


  <p><strong class="text-success mt-2">7. POLÍTICA DE CANCELAMENTO E REEMBOLSO</strong></p>
  <p class="ms-1">7.1. Os Usuários declaram ter conhecimento que os eventos anunciados e/ou comercializados na Plataforma NuFlow Pass podem ter disponibilidade limitada e que, em raras ocasiões, devido a causas alheias ao controle da NuFlow, poderá ocorrer a compra de eventos esgotados.</p>
  <p class="ms-3">7.1.1. Neste caso, os Usuários, desde já, concordam que a NuFlow ou o Organizador  poderá, em até 07 (sete) dias úteis contados da data da compra, entrar em contato para efetuar a anulação de seu pedido mediante reembolso integral do valor da compra.</p>

  <p class="ms-1">7.2. O Organizador  é o único responsável pela realização do evento/espetáculo/competição, bem como por qualquer alteração, adiamento, cancelamento e toda e qualquer divulgação relativa a esses fatos, bem como pela devolução dos valores de face do ingresso.</p>
  <p class="ms-1">7.3. Em caso de alteração significativa ou cancelamento do evento adquirido, o Cliente será informado via e-mail pelo Organizador e/ou, pela NuFlow, o mais breve possível. Na mensagem estarão contidas todas as orientações sobre procedimentos de alteração, cancelamento e reembolso. </p>

  <p><strong class="text-decoration-underline">(B) Tickets.</strong></p>

  <p class="ms-1">7.4. Os Clientes que adquiriram através da NuFlow Pass os Tickets relativos a eventos promovidos pelos Organizadores poderão solicitar o cancelamento da compra, desde que o façam em até 48 (quarenta e oito) horas antes da data e horário de realização do evento</p>
  <p class="ms-3">7.4.1. Se o cancelamento for solicitado em até 07 (sete) dias da data da compra, o pedido deverá ser direcionado à NuFlow Pass, que efetuará o reembolso ao Cliente, em até 10 (dez) dias corridos, contados da data em que tomou ciência do pedido de cancelamento.</p>
  <p class="ms-3">7.4.2. Caso a solicitação de cancelamento seja realizada após 07 (sete) dias da data da compra, o Cliente deverá direcionar seu requerimento de cancelamento ao Organizador  do evento, para que este proceda de acordo com seu próprio entendimento ou com seus Termo de Uso. O Organizador  neste caso será o único e exclusivo responsável por eventuais reembolsos.</p>

  <p><strong class="text-decoration-underline">(B) Recurring Pass.</strong></p>
  <p class="ms-1">7.5. Quanto ao Recurring Pass, por ser uma compra recorrente em formato de assinatura, a sua renovação será automática, isto é, desde que, não acordado de outra forma com o Organizador , o Cliente poderá, a qualquer momento, efetuar o cancelamento, podendo usufruir do local até que o período de sua assinatura, já pago, seja encerrado. </p>
  <div class="boreder border-success p-2"> <p>A título exemplificativo, se um Cliente adquiriu o Recurring Pass de um 01 (um) mês e cancelou após 10 (dez) dias, poderá usufruir dos 20 (vinte) dias já pagos.</p> </div>
  <p class="ms-3">7.5.1. O Cliente terá 07 (sete) dias após a aquisição do Recurring Pass para exercer o direito de arrependimento e cancelar sua assinatura.</p>


  <p><strong class="text-success mt-2">8. DISPOSIÇÕES GERAIS</strong></p>
  <p class="ms-1">8.1. O ingresso é válido somente para a data, horário, local e assento (quando aplicável) para o qual foi emitido.</p>
  <p class="ms-1">8.2. Apenas uma unidade do E-ticket impresso poderá ser utilizada para entrar no evento, espetáculo ou competição. Todas as outras impressões ou cópias feitas do E-ticket serão recusadas.</p>
  <p class="ms-1">8.3. Seu E-ticket é nominal e intransferível. Pode ser solicitada a identificação através de documento com foto do titular da compra, bem como a apresentação do cartão de crédito utilizado na compra. </p>
  <p class="ms-1">8.4. O ingresso adquirido permite ao Assinante e/ou Cliente não Assinante, o acesso ao evento, espetáculo ou competição. Fotografar, gravar ou filmar qualquer parte do evento/espetáculo/competição depende única e exclusivamente do Usuário Organizador , havendo necessidade de autorização prévia e expressa do mesmo para tal. </p>
  <p class="ms-1">8.5. O evento poderá ser, por parte da NuFlow ou do Usuário Organizador , filmado, gravado e/ou fotografado para posterior publicação, transmissão, retransmissão, reprodução e/ou divulgação em televisão, cinema, rádio, internet, publicidade em geral e qualquer outro veículo de comunicação, produção de CD e DVD. O Assinante e o Cliente não Assinante concorda que, ao comparecer ao evento/espetáculo/competição, autoriza a utilização gratuita de sua imagem, nome e voz, nos termos ora mencionados, no Brasil e no exterior, sem limite de vezes e tempo, sem que isso caracterize uso indevido da imagem ou qualquer outro direito e sem que dessa utilização ocorra qualquer ônus e/ou indenização. </p>


  <p class="text-left text-success fs-24 mt-2 mb-0">Parte 3 - Disposições Finais</p>
  <hr class="m-auto terms-line">
  <p><strong class="text-success mt-2">9. LIMITAÇÃO DE RESPONSABILIDADE</strong></p>

  <p class="ms-1">9.1. A NuFlow não se responsabiliza por eventuais conflitos, erros, indisponibilidades e perda de dados decorrentes da utilização da Plataforma. A NuFlow não tem e não terá qualquer responsabilidade pela exclusão, perda, erro de armazenamento, interrupções ou falha de transmissão ou acesso à Plataforma, bem como poderá impor limites ao seu uso. Os Usuários declaram que concordam em isentar a NuFlow, suas empresas controladas, controladoras ou coligadas, bem como seus respectivos administradores, prepostos, funcionários e consultores de quaisquer responsabilidades, demandas, ações judiciais ou extrajudiciais, pedidos ou solicitações de terceiros decorrentes da utilização da Plataforma, incluindo despesas processuais e honorários advocatícios. Declara ainda concordar com o desconto em sua conta pagamento para a reparação de eventuais prejuízos ou danos que venha causar à NuFlow e/ou terceiros.</p>
  <p class="ms-1">9.2. A NuFlow não poderá ser responsabilizada por qualquer falha na prestação de serviço relacionadas à execução do(s) evento(s), sendo de exclusiva responsabilidade do Organizador  eventuais falhas na prestação de serviço do(s) evento(s).</p>
  <p class="ms-1">9.3. Observada a limitação de responsabilidade prevista nestes Termos de Uso, com a qual o Usuário concorda em aceitá-la, a responsabilidade da NuFlow por outros atos ou fatos causadores de danos limitar-se-ão aos danos diretos comprovadamente sofridos pelos Usuários por ato ilícito exclusivo da NuFlow. A NuFlow não poderá ser responsabilizada por danos indiretos, lucros cessantes, perda de dados ou de receitas decorrentes de falhas de funcionamento da Plataforma.</p>
  <p class="ms-1">9.4. Como elencado acima, o Cliente que adquirir um Ingresso deverá observar as regras de utilização do local, de tal forma que a NuFlow não poderá ser responsabilizada pela conduta do Cliente, muito menos por qualquer acidente que este sofrer ou causar durante o evento ou utilização do ingresso.</p>
  <p class="ms-1">9.5. Os Usuários, especialmente o Organizador , declaram ter ciência de que a NuFlow Pass não poderá ser responsabilizada por erro, descumprimento e/ou violação que os Usuários derem causa, sendo assim, isenta a NuFlow de qualquer responsabilidade, seja esta civil, criminal, trabalhista, tributária, ou qualquer outra.</p>
  <p class="ms-1">9.6. O Organizador  também declara estar ciente que, caso a NuFlow seja responsabilizada judicialmente, essa poderá efetuar, imediatamente, a cobrança do valor que for obrigada a pagar, sem a necessidade de ajuizamento de ação de regresso. </p>
  <p class="ms-3">9.6.1. Caso não haja composição amigável e a NuFlow seja obrigada a arcar com custos e/ou despesas relacionadas ao processo judicial, o Organizador  além dos valores que já deveria ter reembolsado, ficará obrigado a arcar com as taxas judiciais, custas e honorários contratuais de advogado no valor de 20% (vinte por cento) sobre o valor da causa.</p>

  <p class="ms-1">9.7. Os Clientes declaram, conscientemente e livre de qualquer coação, assumir todos os riscos de saúde envolvidos na sua participação nos eventos ocorridos neste período, tanto conhecidos como desconhecidos, mesmo se advindos da negligência de terceiros, e assumem toda a responsabilidade pela participação nos eventos;</p>
  <p class="ms-1">9.8. A NuFlow não é e nem poderá ser classificada como produtora, organizadora e/ou criadora de eventos divulgados em sua plataforma, sendo assim, não se responsabiliza sobre erros, falhas, cancelamentos, reagendamentos e/ou qualquer outra ocorrência aplicável aos eventos.</p>
  <p class="ms-1">9.9. É obrigação exclusiva do Organizador  cumprir e verificar a obediência às normas de saúde vigentes à época do evento. Caso seja demandado por qualquer órgão que seja, deverá arcar todos os custos, multas e demais penalidades aplicáveis.</p>

  <p><strong class="text-success mt-2">10. DISPOSIÇÕES GERAIS</strong></p>
  <p class="ms-1">10.1. Esses Termos de Uso constituem documento jurídico complementar ao Termo de Uso da NuFlow Shop e perfeito para regular a relação, e poderá ser modificado livremente e a qualquer tempo pela NuFlow, observadas as regras descritas no tópico anterior. Não é permitido que uma mesma pessoa tenha mais de um cadastro. Se a NuFlow detectar, por meio do sistema de verificação de dados, cadastros duplicados, irá inabilitar definitivamente todos os cadastros.</p>
  <p class="ms-1">10.2. A NuFlow poderá advertir, suspender, bloquear ou cancelar, temporária ou definitivamente, a conta de um Usuário, além de tomar as medidas legais cabíveis, a qualquer momento, por qualquer motivo, a seu único critério, bem como se: (1) o Usuário não cumprir qualquer dispositivo destes Termos de Uso; (2) praticar atos fraudulentos, dolosos ou com evidente má-fé, a fim de obter vantagem indevida; (3) identificar atos do Usuário realizados com a finalidade de induzir ao erro para obter vantagem manifestamente ilícita; (4) não puder ser verificada a identidade do Usuário ou qualquer informação fornecida por ele seja inverídica; (5) alguma atitude do Usuário tiver o condão de gerar danos a terceiros ou à NuFlow; (6) o Usuário divulgar ou postar conteúdo em desacordo com a legislação vigente, com os bons costumes, ou ofensivo ao direito de qualquer pessoa; (7) o Usuário adotar, no âmbito da relação com a NuFlow, bem como seus representantes e funcionários, condutas desrespeitosas, ofensivas, difamatórias, obscenas, ilegais ou realizar ameaças; e (8) praticar SPAM ou qualquer tipo de atitudes contrárias às boas práticas da internet e das redes sociais.</p>
  <p class="ms-1">10.3. Este documento é complementar ao Termo de Uso Geral e suas disposições devem ser consideradas em conjunto.</p>
  <p class="ms-1">10.4. Se houver algum conflito de informações constantes neste documento com informações constantes em outros documentos, prevalecerão sempre os termos do Termo de Uso Geral, que é o documento formal eleito para reger a relação.</p>
  <p class="ms-3">10.4.1. As negociações feitas pessoalmente entre Usuários e/ou entre Usuários e a NuFlow, presencialmente ou a distância, prevalecem sobre estes Termos de Uso, restando-o como fonte subsidiária de interpretação e preenchimento de lacunas.i</p>

  <p class="ms-1">10.5. Este instrumento será regido e interpretado de acordo com a legislação brasileira e, para dirimir todos os assuntos referentes à interpretação e cumprimento destes Termos de Uso, as partes elegem o Foro Central Cível da Comarca de Belo Horizonte/MG, com renúncia expressa a qualquer outro.</p>

</div>
