<%= render 'shared/navbar' %>
<div class="vh-100 flex center around <%= @read.result ? "bg-success" : "bg-danger" %>">
  <% if @read.result %>
    <p class="text-white fs-80"><i class="fas fa-check-circle"></i></p>
  <% else %>
    <p class="text-white fs-80"><i class="fas fa-times-circle"></i></p>
  <% end %>
</div>
