.file-upload input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  &:hover {
    cursor: pointer;
  }
}
.file-upload label {
  position: relative;
  outline: 2px dashed #00c454;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
.file-upload {
  position: relative;
  #file-upload-button {
    display: none !important;
  }
}
