@media (max-width: 768px) {
  .footer {
    // position: relative;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-between;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
    // background: rgba(0, 0, 0, 0.7) !important;
    // color: #fff !important;
    // font-family: "Bebas Neue", "sans-serif";
    // font-weight: bold !important;
    // font-size: 24px;
  }
  .w100 {
    width: 100% !important;
  }
}

.btn-success {
  background-color: #00c454 !important;
  font-size: 2rem !important;
  border: none !important;
  // height: 60px !important;
  // width: 300px !important;
  margin-right: 47px !important;
}

.fab {
  color: #00c454;
}

.footer-links {
  margin-left: 183px;
}

hr {
  border: 1px dashed #000;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer {
  opacity: 0.8;
  // bootstrap navbar
  // padding: 3rem !important;
  // flex-wrap: nowrap;
  // justify-content: flex-start;
  // position: relative;
  // display: flex;
  // align-items: center;
  // background: rgba(0, 0, 0, 0.7) !important;
  // color: #fff !important;
  // font-family: "Bebas Neue", "sans-serif";
  // font-weight: bold !important;
  // font-size: 24px;
}

// @media (max-width: 576px) {
// }
