.btn-success {
  background-color: #00c454 !important;
  font-size: 2rem !important;
  border: none !important;
  // height: 60px !important;
  // width: 300px !important;
  margin-right: 47px !important;
}

.fab {
  color: #00c454;
}

.footer-links {
  margin-left: 183px;
}

hr {
  border: 1px dashed #000;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

footer {
  opacity: 0.5;
}

// @media (max-width: 576px) {
// }
