@media (max-width: 768px) {
  .w100 {
    width: 100% !important;
  }
}

.fab {
  color: #00c454;
}

.footer-links {
  margin-left: 183px;
}

hr {
  border: 1px dashed #000;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer {
  opacity: 0.8;
}
