.navbar {
  background: rgba(0, 0, 0, 0.7) !important;
  font-weight: bold !important;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  height: 100px;

  @media screen and (max-width: 768px) {
    height: 70px;
  }
}

.nav-link {
  @media screen and (max-width: 768px) {
    padding: 0.25rem;
    font-size: 20px;
  }
}
