.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Navbar Gillys

.logo {
  height: auto !important;
  max-width: 100% !important;
}

.navbar {
  height: 120px;
  background: #00893b !important;
  color: #fff;
  font-family: "Nunito", "Helvetica", "sans-serif";
  justify-content: space-between !important;
}
