@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;700&display=swap");
@import "toastr/toastr";
@import "trix/dist/trix";
$color-primary: #00893b;
$color-darker: #101010;
$white: #fff;

body {
  background-color: $color-darker !important;
  color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
  color: white;
}

em {
  color: #00c454;
  font-style: normal;
}
.title {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: $color-primary;
  text-transform: uppercase;
}

.bg-primary-color {
  background: $color-primary !important;
}
.bg-darker {
  background: $color-darker;
}

.vh-100 {
  height: 100vh;
}

.page-wrapper {
  padding: 100px 200px;
  min-height: calc(100vh - 120px);
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}

#loading-div {
  background: #161616;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.lds-dual-ring {
  display: inline-block;
  width: 160px;
  height: 160px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  margin: 16px;
  border-radius: 50%;
  border: 12px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.React-logo {
  height: 10vmin;
  pointer-events: none;

  @media screen and (max-width: 768px) {
    height: 20vmin;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 10s linear;
  }
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.page-gradient {
  background: rgb(34, 136, 255);
  background: linear-gradient(
    220deg,
    rgba(34, 136, 255, 1) 55%,
    rgba(1, 242, 186, 1) 100%
  );
}
.logo {
  height: 200px;

  @media screen and (max-width: 768px) {
    height: 100px;
  }
}

form {
  width: 100%;

  label {
    font-size: 20px;
    color: $color-primary;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 1px;
  }

  .form-group {
    color: white;
    width: 100%;
  }

  input {
    width: 100%;
  }
}

.text-color-primary {
  color: $color-primary !important;
}

.btn-primary {
  color: white !important;
  background-color: $color-primary !important;
  border-color: $color-primary !important;
  font-weight: 700 !important;
  border-radius: 8px !important;
  &:hover {
    opacity: 0.9;
    transition: 300ms;
  }
}
.btn-outline {
  color: $color-primary !important;
  background-color: transparent !important;
  border-color: $color-primary !important;
  font-weight: 700 !important;
  border-radius: 24px !important;
  &:hover {
    color: $color-darker;
    background-color: white;
    opacity: 0.9;
    transition: 300ms;
  }
}
.toast {
  padding: 30px 60px !important;
  border-radius: 24px !important;
  font-size: 18px !important;
  font-weight: bold;
}
.toast-error {
  background-color: red !important;
}
.toast-success {
  background-color: green !important;
}

.center-box {
  width: 40%;

  max-height: 95%;
  overflow-y: auto;

  padding: 30px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    width: 100%;
    padding: 20px;
  }
}

.center-box-bigger {
  width: 70%;

  padding: 20px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    width: 100%;
    padding: 20px;
  }
}

label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  content: "  ";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: white;
  margin: 0 30px 6px 0;
}
label > input[type="radio"]:checked + *::before {
  background: white;
  border-color: white;
}
label > input[type="radio"]:checked + * {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.box-padding {
  padding: 30px;

  font-size: 14px;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

.benefit-card {
  height: 300px;

  @media screen and (max-width: 768px) {
    height: 240px;
  }

  .f-70 {
    padding: 0 80px;
    text-align: center;

    @media screen and (max-width: 768px) {
      padding: 0 30px;
    }
  }
}
.benefit-icon {
  background-color: $color-primary;
  border-radius: 50%;
  padding: 15px;
  color: white;
  font-size: 30px;
  margin-right: 12px;
}
.primary-icon {
  padding: 15px;
  color: $color-primary;
  font-size: 40px;
  margin-right: 12px;
}

.fit-svg {
  svg {
    height: 100%;
    width: 100%;
  }
}

a:link {
  text-decoration: none;
}

.vh-navbar {
  height: calc(100vh - 120px);
}
.vh-navbar-min {
  min-height: calc(100vh - 120px);
}

.mobile-image {
  height: 400px;
  @media screen and (max-width: 768px) {
    height: 300px;
  }
}

.toastr-position {
  margin-top: 120px;
}

trix-toolbar {
  background: white !important;
}
.trix-button-group {
  margin: 0 !important;
}
trix-editor {
  background: white !important;
  padding: 20px !important;
  color: rgb(50, 50, 50) !important;
}
.trix-content {
  color: white;
}

// Table
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #212529;
  color: white;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.event-communication-download {
  height: 300px;
  width: 300px;
  border: 1px solid white;
  padding: 30px;
  i {
    color: white;
  }

  &:hover {
    color: $color-darker;
    background: white;
    transition: 300ms;
    p {
      color: $color-darker;
    }
    i {
      color: $color-darker;
    }
  }
}

hr {
  background-color: #EAEFF5 !important;
  width: 100% !important;
}
